In [27]:
import mysql.connector

# Establish connection to the MySQL database
conn = mysql.connector.connect(
    host='localhost',       # Host, often localhost or an IP address
    user='root',   # Your database username
    password='pegasus',  # Your database password
    database='algobest'     # Database name
)

# Create a cursor object using the connection
cursor = conn.cursor()

# SQL query to fetch data from tradebook table
query = "SELECT * FROM tradebook"

# Execute the query
cursor.execute(query)

# Fetch all rows from the last executed statement
results = cursor.fetchall()

# Print the results


# Close the cursor and connection
cursor.close()
conn.close()

In [43]:
import pandas as pd
df = pd.DataFrame(results)

columns = ['app_id', 'symbol', 'instrument_token', 'side', 'order_type', 'order_price', 'avg_price', 'timestamp', 'tag', 'calc_price']

df.columns = columns

df['slippage'] = df['calc_price'] - df['avg_price']

In [44]:
df

,app_id,symbol,instrument_token,side,order_type,order_price,avg_price,timestamp,tag,calc_price,slippage
0,1210120547,BANKNIFTY 22MAY2024 CE 47600,41572,Buy,Market,0.00,131.45,2024-05-22 13:57:39,leg1,130.70,-0.75
1,1210120548,BANKNIFTY 22MAY2024 CE 47600,41572,Sell,Limit,114.45,115.05,2024-05-22 14:11:38,leg1_sl,116.45,1.40
2,1210120549,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.00,121.35,2024-05-22 13:57:48,leg2,120.80,-0.55
3,1210120550,BANKNIFTY 22MAY2024 PE 47800,41610,Sell,Limit,104.35,105.05,2024-05-22 13:58:42,leg2_sl,106.35,1.30
4,1210121218,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.00,122.70,2024-05-22 14:13:12,leg2,120.80,-1.90
5,1210121230,BANKNIFTY 22MAY2024 PE 47800,41610,Sell,Limit,105.70,106.20,2024-05-22 14:16:42,leg2_sl,107.70,1.50
6,1210121670,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.00,123.95,2024-05-22 14:50:47,leg2,120.80,-3.15
7,1210121671,BANKNIFTY 22MAY2024 PE 47800,41610,Sell,Limit,106.95,108.95,2024-05-22 14:53:09,leg2_sl,108.95,0.00

In [36]:
df = pd.read_csv('orderbook.csv')

In [37]:
# df['pnl'] = 0  # Initialize the pnl column

# unique_tags = set(tag.split('_')[0] for tag in df['tag'] if '_sl' not in tag)

# for tag in unique_tags:
#     buy = df[(df['tag'] == tag) & (df['side'] == 'Buy')]['avg_price'].sum()
#     sell = df[(df['tag'] == tag + '_sl') & (df['side'] == 'Sell')]['avg_price'].sum()
#     pnl = sell - buy  
#     df.loc[df['tag'].isin([tag, tag + '_sl']), 'pnl'] = pnl
# df.sort_values(by='timestamp', inplace=True)

# # Initialize a new column for PnL
# df['pnl'] = 0

# # Process each tag
# for tag in set(tag.replace('_sl', '') for tag in df['tag']):
#     # Filter buys and sells for the tag
#     buys = df[(df['tag'] == tag) & (df['side'] == 'Buy')]
#     sells = df[(df['tag'] == tag + '_sl') & (df['side'] == 'Sell')]

#     # Iterate through buys and find the matching sell
#     for index, buy in buys.iterrows():
#         # Find the closest sell that comes after the buy
#         sell = sells[sells['timestamp'] > buy['timestamp']].iloc[0] if not sells[sells['timestamp'] > buy['timestamp']].empty else None
        
#         if sell is not None:
#             # Calculate PnL
#             pnl = sell['avg_price'] - buy['avg_price']
#             # Update PnL in both buy and sell rows
#             df.at[index, 'pnl'] = pnl
#             df.at[sell.name, 'pnl'] = pnl

# # Filter out the rows to see the results with PnL
# # df[df['pnl'] != 0]

C:\Users\pegas\AppData\Local\Temp\ipykernel_18416\2663059660.py:30: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-16.299999999999997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'pnl'] = pnl

In [42]:
df

,Unnamed: 0,app_id,symbol,instrument_token,side,order_type,order_price,avg_price,timestamp,tag,calc_price,slippage,pnl
0,0,1210120547,BANKNIFTY 22MAY2024 CE 47600,41572,Buy,Market,0.00,131.45,2024-05-22 13:57:39,leg1,130.70,-0.75,-16.4
1,2,1210120549,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.00,121.35,2024-05-22 13:57:48,leg2,120.80,-0.55,-16.3
2,3,1210120550,BANKNIFTY 22MAY2024 PE 47800,41610,Sell,Limit,104.35,105.05,2024-05-22 13:58:42,leg2_sl,106.35,1.30,-16.3
3,1,1210120548,BANKNIFTY 22MAY2024 CE 47600,41572,Sell,Limit,114.45,115.05,2024-05-22 14:11:38,leg1_sl,116.45,1.40,-16.4
4,4,1210121218,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.00,122.70,2024-05-22 14:13:12,leg2,120.80,-1.90,-16.5
5,5,1210121230,BANKNIFTY 22MAY2024 PE 47800,41610,Sell,Limit,105.70,106.20,2024-05-22 14:16:42,leg2_sl,107.70,1.50,-16.5
6,6,1210121670,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.00,123.95,2024-05-22 14:50:47,leg2,120.80,-3.15,-15.0
7,7,1210121671,BANKNIFTY 22MAY2024 PE 47800,41610,Sell,Limit,106.95,108.95,2024-05-22 14:53:09,leg2_sl,108.95,0.00,-15.0

In [39]:
buys = df[df['side'] == 'Buy'].copy()
sells = df[df['side'] == 'Sell'].copy()

# Renaming columns to prepare for merging
buys.rename(columns={
    'avg_price': 'buy_price', 'order_price': 'buy_order_price',
    'timestamp': 'buy_timestamp', 'calc_price': 'buy_calc_price',
    'slippage': 'buy_slippage'
}, inplace=True)

sells.rename(columns={
    'avg_price': 'sell_price', 'order_price': 'sell_order_price',
    'timestamp': 'sell_timestamp', 'calc_price': 'sell_calc_price',
    'slippage': 'sell_slippage'
}, inplace=True)

# Removing '_sl' from sells tags to match buys
sells['tag'] = sells['tag'].str.replace('_sl', '')

# Merging on 'tag'
combined = pd.merge(buys, sells, on='tag', suffixes=('_buy', '_sell'))

# Calculating PnL
combined['pnl'] = combined['sell_price'] - combined['buy_price']

# Dropping the tag column as it is no longer necessary
combined.drop('tag', axis=1, inplace=True)

In [41]:
combined

,Unnamed: 0_buy,app_id_buy,symbol_buy,instrument_token_buy,side_buy,order_type_buy,buy_order_price,buy_price,buy_timestamp,buy_calc_price,...,instrument_token_sell,side_sell,order_type_sell,sell_order_price,sell_price,sell_timestamp,sell_calc_price,sell_slippage,pnl_sell,pnl
0,0,1210120547,BANKNIFTY 22MAY2024 CE 47600,41572,Buy,Market,0.0,131.45,2024-05-22 13:57:39,130.7,...,41572,Sell,Limit,114.45,115.05,2024-05-22 14:11:38,116.45,1.4,-16.4,-16.40
1,2,1210120549,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,121.35,2024-05-22 13:57:48,120.8,...,41610,Sell,Limit,104.35,105.05,2024-05-22 13:58:42,106.35,1.3,-16.3,-16.30
2,2,1210120549,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,121.35,2024-05-22 13:57:48,120.8,...,41610,Sell,Limit,105.70,106.20,2024-05-22 14:16:42,107.70,1.5,-16.5,-15.15
3,2,1210120549,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,121.35,2024-05-22 13:57:48,120.8,...,41610,Sell,Limit,106.95,108.95,2024-05-22 14:53:09,108.95,0.0,-15.0,-12.40
4,4,1210121218,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,122.70,2024-05-22 14:13:12,120.8,...,41610,Sell,Limit,104.35,105.05,2024-05-22 13:58:42,106.35,1.3,-16.3,-17.65
5,4,1210121218,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,122.70,2024-05-22 14:13:12,120.8,...,41610,Sell,Limit,105.70,106.20,2024-05-22 14:16:42,107.70,1.5,-16.5,-16.50
6,4,1210121218,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,122.70,2024-05-22 14:13:12,120.8,...,41610,Sell,Limit,106.95,108.95,2024-05-22 14:53:09,108.95,0.0,-15.0,-13.75
7,6,1210121670,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,123.95,2024-05-22 14:50:47,120.8,...,41610,Sell,Limit,104.35,105.05,2024-05-22 13:58:42,106.35,1.3,-16.3,-18.90
8,6,1210121670,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,123.95,2024-05-22 14:50:47,120.8,...,41610,Sell,Limit,105.70,106.20,2024-05-22 14:16:42,107.70,1.5,-16.5,-17.75
9,6,1210121670,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,0.0,123.95,2024-05-22 14:50:47,120.8,...,41610,Sell,Limit,106.95,108.95,2024-05-22 14:53:09,108.95,0.0,-15.0,-15.00

In [22]:
combined.drop(columns = ['app_id_buy', 'buy_order_price', 'app_id_sell', 'pnl_buy', 'symbol_sell', 'instrument_token_sell', 'side_sell', 'order_type_sell','pnl_sell', 'pnl_buy'], inplace=True)

In [25]:
combined.drop(columns = [ ], inplace=True)

In [26]:
combined

,symbol_buy,instrument_token_buy,side_buy,order_type_buy,buy_price,buy_timestamp,buy_calc_price,buy_slippage,sell_order_price,sell_price,sell_timestamp,sell_calc_price,sell_slippage,pnl
0,BANKNIFTY 22MAY2024 CE 47600,41572,Buy,Market,131.45,2024-05-22 13:57:39,130.70,-0.75,114.45,115.05,2024-05-22 14:11:38,116.45,1.40,-16.40
1,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,121.35,2024-05-22 13:57:48,120.80,-0.55,104.35,105.05,2024-05-22 13:58:42,106.35,1.30,-16.30
2,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,121.35,2024-05-22 13:57:48,120.80,-0.55,105.70,106.20,2024-05-22 14:16:42,107.70,1.50,-15.15
3,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,122.70,2024-05-22 14:13:12,120.80,-1.90,104.35,105.05,2024-05-22 13:58:42,106.35,1.30,-17.65
4,BANKNIFTY 22MAY2024 PE 47800,41610,Buy,Market,122.70,2024-05-22 14:13:12,120.80,-1.90,105.70,106.20,2024-05-22 14:16:42,107.70,1.50,-16.50

In [ ]:
import mysql.connector

def analyze_tables(database_host, database_user, database_password, database_name):
    try:
        # Connect to the MySQL database
        connection = mysql.connector.connect(
            host=database_host,
            user=database_user,
            password=database_password,
            database=database_name
        )

        cursor = connection.cursor()

        cursor.execute("SHOW TABLES")
        tables = cursor.fetchall()
        for table in tables:
            table_name = table[0]
            
            print(f"ANALYZE TABLE index_data.{table_name};")

#             cursor.execute(f"ANALYZE TABLE {table_name};")
            
        cursor.close()
        connection.close()
        print("Analysis completed")

    except mysql.connector.Error as e:
        print(f"Error: {e}")

# Example usage

In [ ]:
analyze_tables("localhost", "root", "pegasus", "index_data")

In [ ]:
df

In [8]:
import mysql.connector
import pandas as pd
from datetime import datetime

In [9]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'pegasus',
    'database' : 'index_data'
}


connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()

In [13]:
query ='''  SELECT *
            FROM NIFTY_2021
            WHERE DATE(timestamp) BETWEEN '2021-01-01' AND '2021-01-15';
'''

In [14]:
cursor.execute(query)
rows = cursor.fetchall()
data = pd.DataFrame(rows)
print(data)

             0                   1                        2           3   4   \
0       7438661 2021-01-04 15:17:00  NIFTY04FEB2112500PE.NFO  2021-02-04  PE
1       7438662 2021-01-04 09:50:00  NIFTY04FEB2113000PE.NFO  2021-02-04  PE
2       7438663 2021-01-04 10:01:00  NIFTY04FEB2113000PE.NFO  2021-02-04  PE
3       7438664 2021-01-04 10:51:00  NIFTY04FEB2113000PE.NFO  2021-02-04  PE
4       7438665 2021-01-04 11:01:00  NIFTY04FEB2113000PE.NFO  2021-02-04  PE
...         ...                 ...                      ...         ...  ..
771228  8209889 2021-01-15 14:20:00  NIFTY30DEC2117000CE.NFO  2021-12-30  CE
771229  8209890 2021-01-15 14:36:00  NIFTY30DEC2117000CE.NFO  2021-12-30  CE
771230  8209891 2021-01-15 15:14:00  NIFTY30DEC2117000CE.NFO  2021-12-30  CE
771231  8209892 2021-01-15 15:15:00  NIFTY30DEC2117000CE.NFO  2021-12-30  CE
771232  8209893 2021-01-15 15:18:00  NIFTY30DEC2117000CE.NFO  2021-12-30  CE

             5       6      7       8       9     10   11  \
0       12500.0   38.00   38.0   38.00   38.00    75   75
1       13000.0   62.00   62.0   62.00   62.00  1425   75
2       13000.0   62.00   62.0   57.25   57.25  1425   75
3       13000.0   57.00   57.0   57.00   57.00  1425   75
4       13000.0   57.00   57.0   57.00   57.00  1500   75
...         ...     ...    ...     ...     ...   ...  ...
771228  17000.0  394.10  394.1  389.05  389.05  7950   75
771229  17000.0  389.05  396.0  389.05  396.00  8025   75
771230  17000.0  390.00  390.0  390.00  390.00  8025   75
771231  17000.0  390.00  390.0  390.00  390.00  8025   75
771232  17000.0  390.00  390.0  390.00  390.00  8325  225

                                       12                  13    14    15
0       GFDLNFO_BACKADJUSTED_04012021.csv 2024-03-19 21:42:36  None  None
1       GFDLNFO_BACKADJUSTED_04012021.csv 2024-03-19 21:42:36  None  None
2       GFDLNFO_BACKADJUSTED_04012021.csv 2024-03-19 21:42:36  None  None
3       GFDLNFO_BACKADJUSTED_04012021.csv 2024-03-19 21:42:36  None  None
4       GFDLNFO_BACKADJUSTED_04012021.csv 2024-03-19 21:42:36  None  None
...                                   ...                 ...   ...   ...
771228  GFDLNFO_BACKADJUSTED_15012021.csv 2024-03-19 22:03:30  None  None
771229  GFDLNFO_BACKADJUSTED_15012021.csv 2024-03-19 22:03:30  None  None
771230  GFDLNFO_BACKADJUSTED_15012021.csv 2024-03-19 22:03:30  None  None
771231  GFDLNFO_BACKADJUSTED_15012021.csv 2024-03-19 22:03:30  None  None
771232  GFDLNFO_BACKADJUSTED_15012021.csv 2024-03-19 22:03:30  None  None

[771233 rows x 16 columns]

In [15]:
options_data = data[[0,1,2,3,4,5,6,7,8,9]]

In [16]:
options_data[1] = pd.DataFrame(options_data[1])

C:\Users\pegas\AppData\Local\Temp\ipykernel_12464\3294215257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  options_data[1] = pd.DataFrame(options_data[1])

In [17]:
options_data[2] = options_data[2].astype(str)

C:\Users\pegas\AppData\Local\Temp\ipykernel_12464\3994819609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  options_data[2] = options_data[2].astype(str)

In [18]:
ce_data = options_data[options_data[4]=='CE'].copy()

In [19]:
ce_data = ce_data.rename(columns = {1:'timestamp', 2:'symbol', 3:'expiry', 4:'options_type', 5:'strike', 9:'close'})

In [34]:
ce_data['expiry'] = pd.to_datetime(ce_data['expiry'])

In [37]:
set(ce_data['expiry'].dt.month)

{1, 2, 3, 6, 12}

In [26]:
for idx, row in ce_data.iterrows():
    symbol = row['symbol']
    strike = int(row['strike'])
    expiry_day = row['expiry']
    current_day = row['timestamp'].date()
    expiry_month_to_consider = row['timestamp'].month
    print(expiry)
    ce_data[(ce_data['expiry'].dt.month = expiry_month_to_consider) and ce['strike']=='']
    break

1

In [ ]:
time_before = datetime.now()
# cursor.execute("SELECT timestamp,symbol,type,open,high,low,close FROM NIFTY_FUT WHERE type='FUT'")
# rows = cursor.fetchall()

# calculation_time = datetime.now() - time_before
# print(calculation_time)
# fut = pd.DataFrame(rows)

# # fut = pd.DataFrame(rows)
# # print(f'fut data retrieved and the len is {len(df)}')
# time_before = datetime.now()

cursor.execute("SELECT timestamp,symbol,type,expiry, strike,close FROM NIFTY_2021 WHERE type='CE'")
rows = cursor.fetchall()
calculation_time = datetime.now() - time_before
print(calculation_time)
ce = pd.DataFrame(rows)
# print(f'ce data retrieved and the len is {len(df)}')
# rows = cursor.fetchall()
time_before = datetime.now()
cursor.execute("SELECT timestamp,symbol,type,expiry, strike,close FROM NIFTY_2021 WHERE type='PE'")
rows = cursor.fetchall()
calculation_time = datetime.now() - time_before
print(calculation_time)
pe = pd.DataFrame(rows)
# print(f'pe data retrieved and the len is {len(pe)}')

In [ ]:
df = df[df['implied_futures_weekly'].isna()]

In [ ]:
# time_before = datetime.now()
# cursor.execute("SELECT timestamp,symbol,type,open,high,low,close FROM NIFTY_FUT WHERE type='FUT' AND expiry ='I'")
# rows = cursor.fetchall()

# calculation_time = datetime.now() - time_before
# print(calculation_time)

In [ ]:
pe

In [ ]:
fut = fut[fut[1]=='NIFTY-I.NFO']

In [ ]:
df = fut[[0,1,6]].copy()

In [ ]:
df_2020

In [ ]:
df

In [ ]:
ce

In [ ]:
# ce

In [ ]:
# df = df.rename(columns = {0:'timestamp', 1:'symbol', 6:'close'})

# df['timestamp'] = pd.to_datetime(df['timestamp'])

# df.sort_values('timestamp', inplace=True)

# df.reset_index(inplace=True, drop=True)
# ce[3] = ce[3].astype(int)
# pe[3] = pe[3].astype(int)
# ce[0] = pd.to_datetime(ce[0])
# pe[0] = pd.to_datetime(pe[0])

# ce = ce.rename(columns ={0:'timestamp',1:'symbol', 2:'expiry', 3:'strike', 4:'close'})
# pe = pe.rename(columns ={0:'timestamp',1:'symbol', 2:'expiry', 3:'strike', 4:'close'})
# ce = ce.sort_values('timestamp')
# pe = pe.sort_values('timestamp')
# ce['expiry'] = pd.to_datetime(ce['expiry'])
# pe['expiry'] = pd.to_datetime(pe['expiry'])

# df['atm'] = (round(df['close'] / 50) * 50)

# df['atm'] = df['atm'].astype(int)

In [ ]:
df

In [ ]:
ce

In [ ]:
ce = ce.rename(columns ={0:'timestamp',1:'symbol', 2:'type', 3:'expiry', 4:'strike', 5:'close'})
pe = pe.rename(columns ={0:'timestamp',1:'symbol', 2:'type', 3:'expiry', 4:'strike', 5:'close'})

In [ ]:
ce['strike']= ce['strike'].astype(int)
pe['strike']= pe['strike'].astype(int)

In [ ]:
ce['expiry'] = pd.to_datetime(ce['expiry'])
pe['expiry'] = pd.to_datetime(pe['expiry'])

df['atm'] = (round(df['close'] / 50) * 50)

df['atm'] = df['atm'].astype(int)

In [ ]:
ce

In [ ]:
counter = 0
anti_counter = 0
for idx, row in df.iterrows():
    try:
        timestamp = row['timestamp']
        atm = row['atm']
        
        ce_data = ce[(ce['timestamp'] == timestamp) & (ce['strike'] == atm)]
        pe_data = pe[(pe['timestamp'] == timestamp) & (pe['strike'] == atm)]

        ce_min_expiry = min(ce_data['expiry'])
        pe_min_expiry = min(pe_data['expiry'])
        ce_max_expiry = max(ce_data['expiry'])
        pe_max_expiry = max(pe_data['expiry'])
        
        ce_symbol_min = ce_data[ce_data['expiry'] == ce_min_expiry]['symbol'].values[0]
        pe_symbol_min = pe_data[pe_data['expiry'] == pe_min_expiry]['symbol'].values[0]
        ce_symbol_max = ce_data[ce_data['expiry'] == ce_max_expiry]['symbol'].values[0]
        pe_symbol_max = pe_data[pe_data['expiry'] == pe_max_expiry]['symbol'].values[0]

        ce_close_min = ce_data[ce_data['expiry'] == ce_min_expiry]['close'].values[0]
        pe_close_min = pe_data[pe_data['expiry'] == pe_min_expiry]['close'].values[0]
        ce_close_max = ce_data[ce_data['expiry'] == ce_max_expiry]['close'].values[0]
        pe_close_max = pe_data[pe_data['expiry'] == pe_max_expiry]['close'].values[0]
        
        implied_futures_weekly = round((atm + ce_close_min - pe_close_min), 2)
        implied_futures_monthly = round((atm + ce_close_max - pe_close_max), 2)
#         print(implied_futures_weekly, implied_futures_monthly)
        df.loc[idx, 'implied_futures_weekly'] = implied_futures_weekly
        df.loc[idx, 'implied_futures_monthly'] = implied_futures_monthly
        
#         print(f"Weekly Implied Futures: {implied_futures_weekly}, Monthly Implied Futures: {implied_futures_monthly}")
        counter+=1
#         print(f'updated rows are {counter}')
    except Exception  as e:
        anti_counter+=1
        print(f'number of rows failed to derive Implied futures {anti_counter}')
        print(f"Error processing data at timestamp: {timestamp}. Error: {e}")

In [ ]:
ce

In [ ]:
ce.sort_values('timestamp')

In [ ]:
df[df['implied_futures_weekly'].isna()]

In [ ]:
df.to_csv('implied_futures_sql_2021.csv')

In [ ]:
# import logging
# from telegram import Bot
# from telegram.ext import Updater, CommandHandler
# token = 'AAEuwYJ-mcKpahkB1c_JKGTfjnFOXV2JMbo'
# def send_message():
#     bot = Bot(token)
#     chat_id = '7090316139'  
#     message = "Hello, this is a test message from your bot!"
#     bot.send_message(chat_id= chat_id, text=message)

In [ ]:
import requests
BOT_TOKEN = '7090316139:AAEuwYJ-mcKpahkB1c_JKGTfjnFOXV2JMbo'
def send_alert(message):
    url = f'https://api.telegram.org/bot{BOT_TOKEN}/sendMessage'
    data = {'chat_id': 5249309539, 'text': message}
    requests.post(url, json=data)
send_alert('Valhala calls')

In [ ]:
df_2021 = df[df['timestamp'].dt.year ==2021]

In [ ]:
na_df = df_2021[df_2021['implied_futures_weekly'].isna()]

In [ ]:
import numpy as np

In [ ]:
np.nan

In [ ]:
df_2021['shifted_close'] == df_2021['close'].shift()
df[]

In [ ]:
df_2021.reset_index(inplace=True)

In [ ]:
df_2021

In [ ]:
df.loc[1,'close']

In [ ]:
print(df_2021.loc[idx-1, 'implied_futures_weekly'])

In [ ]:
df_2021

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
df_2021 = df[df['timestamp'].dt.year == 2021]

In [ ]:
df_2021.reset_index(inplace=True)

In [ ]:
df_2020

In [ ]:
df_2020

In [ ]:
df_2020[df_2020['implied_futures_weekly'].isna()]

In [ ]:
df_2020.reset_index(inplace=True, drop=True)

In [ ]:
df_2020

In [ ]:
import pandas as pd

# Iterate over dataframe rows
for index, row in df_2021.iterrows():
    timestamp = row['timestamp']
    weekly_value = row['implied_futures_weekly']
    monthly_value = row['implied_futures_monthly']
    
    # Construct SQL query
    sql = "UPDATE nifty_fut SET implied_futures_weekly = %s, implied_futures_monthly = %s WHERE timestamp = %s AND column_type = 'NIFTY-I.NFO'"
    values = (weekly_value, monthly_value, timestamp)
    
    # Execute the query
    cursor = conn.cursor()
    cursor.execute(sql, values)
    conn.commit()
    cursor.close()

# Close the connection
conn.close()

In [ ]:
import pandas as pd
df_2021 = pd.read_csv('implied_futures_sql_2021.csv')
df_2021['timestamp'] = pd.to_datetime(df_2021['timestamp'])

df_2021 = df_2021[df_2021.timestamp.dt.year == 2021]
df_2021.reset_index(inplace=True, drop = True)

In [ ]:
df_2021[df_2021['timestamp'].dt.year == 2021]

In [ ]:
df_2021[df_2021['implied_futures_weekly'].isna()]

In [ ]:
df_2021

In [ ]:
for idx, row in df_2021.iterrows():
    if pd.isnull(row['implied_futures_weekly']):
        prev_close = df_2021.loc[idx-1,'close']
        prev_weekly = df_2021.loc[idx-1, 'implied_futures_weekly']
        prev_monthly = df_2021.loc[idx-1, 'implied_futures_monthly']
        current_weekly = prev_weekly - prev_close + row['close']
        current_monthly = prev_monthly - prev_close + row['close']   
        df_2021.loc[idx, 'implied_futures_weekly'] = round(current_weekly, 2)
        df_2021.loc[idx, 'implied_futures_monthly'] = round(current_monthly, 2)

In [ ]:
df_2021[df_2021['implied_futures_weekly'].isna()]

In [ ]:
df_2021

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="pegasus",
    database="index_data"
)

In [ ]:
df_2021

In [ ]:
for index, row in df_2021.iterrows():
    timestamp = row['timestamp'].strftime('%Y-%m-%d %H:%M:%S')  # Convert to string in MySQL format
    weekly_value = row['implied_futures_weekly']
    monthly_value = row['implied_futures_monthly']
    sql = "UPDATE nifty_fut SET implied_futures_weekly = %s, implied_futures_monthly = %s WHERE timestamp = %s AND expiry = 'I'"
    values = (weekly_value, monthly_value, timestamp)
    cursor = conn.cursor()
    cursor.execute(sql, values)
    conn.commit()
    cursor.close()

conn.close()

In [ ]:
df_2021[df_2021['implied_futures_weekly'].isna()]

In [ ]:
df_2020 = pd.read_csv('implied_futures_sql.csv')

In [ ]:
df_2020['timestamp'] = pd.to_datetime(df_2020['timestamp'])

In [ ]:
df_2020[df_2020['implied_futures_weekly'].isna()]

In [ ]:
df_2020

In [ ]:
for index, row in df_2020.iterrows():
    timestamp = row['timestamp'].strftime('%Y-%m-%d %H:%M:%S')  # Convert to string in MySQL format
    weekly_value = row['implied_futures_weekly']
    monthly_value = row['implied_futures_monthly']
    print(timestamp, weekly_value, monthly_value)
    sql = "UPDATE nifty_fut SET implied_futures_weekly = %s, implied_futures_monthly = %s WHERE timestamp = %s AND expiry = 'I'"
    values = (weekly_value, monthly_value, timestamp)
    cursor = conn.cursor()
    cursor.execute(sql, values)
    conn.commit()
    cursor.close()

conn.close()